
<h1>Edit Taxon</h1>

<%= form_for(:taxon, :url => admin_taxon_url, :html => { :method => :put, :multipart => true}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <p class="form-buttons">
    <%= f.submit %> or <%= link_to "Cancel", edit_admin_taxonomy_url(@taxonomy) %>
  </p>
<% end %>
